.App {
  display: grid;
  place-items: center;
   /* background: linear-gradient(115deg, #020202, #ffffffbe);; */
  height: 100vh;
  color: rgba(189, 189, 192, 1);
  transition: width 0.3s;
}

.css-selector {
  background: linear-gradient(110deg, #000000, #c32c2c, #d1d42d, #265ce3, #8e26e3, #000000);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 18%}
  50%{background-position:100% 83%}
  100%{background-position:0% 18%}
}
@keyframes AnimationName {
  0%{background-position:0% 18%}
  50%{background-position:100% 83%}
  100%{background-position:0% 18%}
}

.app_body{
  display: flex;
  border-radius: 16px;
  background-color: transparent;
  height: 90vh;
  width: 90vw;
  box-shadow: -3px 4px 20px -5px rgb(0, 0, 0);

}