.sidebar {
    display: flex;
    flex:0.30;
    width: 80px;
    border-radius: 16px;
    background-color: rgba(32, 32, 35, 1);
    height: 100%;
    border-right: 1px solid rgba(189, 189, 192, 0.1);
    box-shadow: 4px 4px 20px -5px rgba(244,67,54,1);;
}

.sidebar_chats{
    flex: 1;
    overflow-y: auto;
}

@media (min-width: 576px){
    .sidebar{
        width: 400px;
    }
}

::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: rgb(235, 230, 230); 
}
::-webkit-scrollbar-thumb {
    background: rgb(211, 73, 73); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 50, 50,0.8); 
}

